@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
}

button {
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right button{
    border: initial;
    height: 35px;
    width: 140px;
    margin-top: 20px;
    background-color: #4AAE60;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
}

.right p {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 800;
    font-family: 'Montserrat Alternates', sans-serif;
}

.right .lost {
    color: #f84039;
}

.right .won {
    color: #4aae60;
}

.keyboard {
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 470px;
}

.keyboard .letter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1ECF4;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #88AECC;
    font-size: 12px;
    color: #397BA8;
    font-weight: 900;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
}

.keyboard .selected {
    background-color: #9faab5;
    color:#7B828D;
    pointer-events:none;
}

.guess {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess p, .guess input {
    margin-right: 10px;
}

.guess button {
    background-color: #E1ECF4;
    border: 1px solid #88AECC;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    color: #397BA8;
    font-weight: 700;
}

.disabled {
    pointer-events:none;
}

.hide {
    display: none;
}